Package: ithuan-fcitx-skin
Source: ithuan-fcitx-skin
Section: utils
Priority: optional
Version: 0.3
Architecture: all
Depends: fcitx-ui-classic
Conflicts: fcitx-ui-qimpanel
Maintainer: ÌTHUÂNKHOKI <ithuan@ithuan.tw>
Homepage: https://github.com/i3thuan5/fcitx-skin
Description: Fcitx skin config for ÌTHUÂNKHOKI Taioanoe Input Method.
